
.textBox, .addskill {
    font-size: 20px; 
    margin-top: 10px;
    color: rgb(157,193,  132);
    border: 2px solid rgb(157,193,132);
  }

  body {
    display: flex;
    margin: 150px auto;
    flex-direction: column;
    width: 500px;
    /* min-height: 100vh; 
    justify-content: center;
    align-items: center;
    */
  }
  .title {
    background-color: rgb(157,193,132);
    color:white;
  }
  h1 {
    text-align: center;
  }

  li {
    margin-left: -40px;
    color: #ffb23e;
    list-style-type: none;
    padding: 5px;
    font-size: 20px;
  }
  
  input, button {
    border: 2px solid rgb(157, 193, 132);
    height: 40px;
    text-transform: uppercase;
    color:rgb(157, 193, 132);
  }
  #remove {
    color:white;
    background-color: indianred;
    margin-right: 15px;
    margin-left: 0px;
  }
  /* input {
    width: 65%;
  } */
/*   
  button {
    background-color: white;
    color: rgb(150, 198, 125);
    font-weight: 600;
    width: 30%;
    margin-left: 10px;
    margin-right: 0;
  } */

  .textBox {
    width: 365px;
  }
  .addskill {
    margin-left: 5px;
  }
